{% extends 'base.html.twig' %}

{% block title %}HOME{% endblock %}
        
{% block importmap %}{{ importmap('app') }}{% endblock %}


{% block body %}

<h1>HOME</h1>
<section class="">
    {% for book in books %}
        {% include'/_partials/_card.html.twig' %}
    {% endfor %}
</section>
{% endblock %}

